body {
     background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
     font-family: sans-serif;
     align-items: center;
     padding-left: 20px;
     padding-top: 20px;
}

header {
     background: linear-gradient(to bottom, rgb(246, 246, 246), rgb(238, 233, 233));
     border-radius: 5px;
     gap: 35%;
}

h2 {
     background-color: aliceblue;
     width: max-content;
}

header {
     display: flex;
}

nav {
     font-size: 25px;
     padding-top: 35px;
     justify-content: space-evenly;
}

a {

     color: black;

}

#app {
     background-color: rgb(161, 237, 161);
     border-radius: 6px;
     width: 20px;
     height: 20px;
}